{#
    Partial for a responsive image list.

    Parameters:
    * images - A list of Image objects
#}
{% macro image_list(images) %}
<div class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
    {% for image in images %}
    <div class="card card-compact w-96 bg-base-100 shadow-xl">
        <figure>
            <a href="{{ url('images:image_page', hash_id=image.hash_id) }}">
                <img src="{{ MEDIA_URL}}/{{ image.upload }}" width="320" alt="" class="max-w-[320px] rounded-t-md">
            </a>
        </figure>
        <div class="card-body">
            <div class="px-4">
                <p>
                    {% trans counter=image.approved_sentences.count() %}
                    {{ counter }} sentence for this image
                    {% pluralize %}
                    {{ counter }} sentences for this image
                    {% endtrans %}
                </p>
                <p>
                    {% trans uploaded=image.created|naturaltime, uploader=image.uploader.username %}
                    Uploaded {{ uploaded }} by {{ uploader }}
                    {% endtrans %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}
{# If used directly. #}
{{ image_list(images) }}