{#
    Partial for a language select dropdown.

    Parameters:
    * languages - A list of Language objects
    * current_language - A Language object representing the currently selected language
    * url - A URL string for an HTML endpoint that will refresh content; this endpoint *must* accept a "lang" query parameter
    * target - String ID of the element to target with the refresh
#}
{% macro language_select(languages, current_language, url=none, target=none) -%}
<form action="" method="get">
    <select name="lang" id="language_select" class="select w-full max-w-xs"
        {% if url %}hx-get="{{url}}"{% endif %}
        {% if target %}hx-target="#{{target}}"{% endif %}
    >
        {% for language in languages %}
        <option value="{{language.language_code}}" {% if language.language_code == current_language.language_code %}selected{% endif %}>{{ language.native }} | {{ language.name }}</option>
        {% endfor %}
    </select>
</form>
{%- endmacro %}
{# If used directly. #}
{{ language_select(languages, current_language, url, target) }}