{# 
    Partial for a list of lexemes and sentences.

    Parameters:
    * lexemes - A list of Lexeme objects
    * sentences - A list of Sentence objects
    * current_language - A Language object representing the currently selected language
#}
{% from 'partials/rating.jinja' import rating %}
{% macro lexeme_sentence_list(lexemes, sentences, current_language) -%}
<section class="flex flex-col py-4">
    <div id="lexeme_list" class="join join-vertical pb-4 items-center">
        {% for lexeme in lexemes %}
        <div class="flex justify-center items-center flex-col text-center max-w-lg gap-2">
            <span>{{ lexeme.text }}</span>
            {% if lexeme.transliteration %}<span class="text-sm">({{ lexeme.transliteration }})</span>{% endif %}
            {% if lexeme.ipa %}<span class="text-sm">/{{ lexeme.ipa }}/</span>{% endif %}
        </div>
        {% endfor %}
    </div>
    <div id="sentence_list" class="join join-vertical pt-4">
        {% for sentence in sentences %}
        <div class="flex flex-col justify-center items-center gap-2">
            <div class="flex flex-wrap w-full flex-grow">
                <p class="italic w-full md:w-4/5 flex-grow">{{ sentence.text }}</p>
                {{ rating(sentence.difficulty, name=sentence.id) }}
            </div>
            {% if sentence.public_comments.count() > 0 %}
            <div class="collapse">
                <input type="checkbox" />
                <div class="collapse-title">
                    {% trans counter=sentence.public_comments.count() %}
                    {{ counter }} comment
                    {% pluralize %}
                    {{ counter }} comment
                    {% endtrans %}
                </div>
                <div class="collapse-content">
                    <table class="table">
                        {% for comment in sentence.public_comments.all() %}
                        <tr>
                            <td class="text-right">{{ comment.submitter.username }}</td>
                            <td>{{ comment.text }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% else %}
            <span class="text-center mx-auto italic">{{ _('No comments') }}</span>
            {% endif %}
            {# TODO: Difficulty, audios, and all that... #}
            {% for audio in sentence.audios.all() %}
            <audio src="{{ MEDIA_URL }}/{{ audio.upload }}" controls preload="metadata"></audio>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
{%- endmacro %}
{# If the partial is used directly. #}
{{ lexeme_sentence_list(lexemes, sentences, current_language) }}
