{# 
    Partial for a fancy star rating widget. Reusable.

    Parameters:
    * rating - Number from 1-5
    * name - A name for the rating input. (default: "rating")
#}
{% macro rating(rating, name=none) -%}
<div class="rating w-full md:w-1/5">
    {% for i in range(1,6) %}
    <input type="radio" name="rating{% if name %}-{{ name }}{% endif %}"
        class="mask mask-star-2 bg-orange-400 checked:bg-orange-400 cursor-default pointer-events-none"
        disabled {% if rating == i %}checked{% endif %}
    />
    {% endfor %}
</div>
{%- endmacro %}
{# If used directly. #}
{{ rating(rating, name) }}
