{#
    Partial for a responsive tag list.

    Parameters:
    * tags - A list of tag objects
    * type - The type of tag, e.g., "image", "sentence".
#}
{% macro tag_list(tags) -%}
<div class="flex flex-wrap justify-center max-w-lg my-4 px-4 gap-6">
    {% for tag in tags %}
    <a href="{{ url('tags:tag_page', text=tag.text) }}" class="badge badge-primary [&:not(:hover)]:badge-outline">{{ tag.text }}</a>
    {% endfor %}
</div>
{%- endmacro %}
{# If used directly. #}
{{ tag_list(tags) }}