{% extends "base.jinja" %}
{% from 'partials/language_select.jinja' import language_select with context %}
{% from 'partials/lexeme_sentence_list.jinja' import lexeme_sentence_list with context %}
{% from 'partials/tag_list.jinja' import tag_list %}
{% block content %}
<section class="p-4">
    <div id="image_content" class="flex justify-center align-middle">
        <figure>
            <img src="{{MEDIA_URL}}/{{image.upload}}" alt="">
            <figcaption class="text-center">{% trans name=image.uploader.username, uploader_profile=url('users:profile', username=image.uploader.username) %}Uploaded by <a href="{{uploader_profile}}">{{ name }}</a>{% endtrans %}</figcaption>
        </figure>
    </div>
    <div id="image_tags" class="flex justify-center">
        {{ tag_list(image.tags.all()) }}
    </div>
    <section class="py-2">
        <div class="flex justify-center align-middle">
            {{ language_select(languages, current_language, url=url('images:image_data_partial', hash_id=image.hash_id), target="language_content") }}
        </div>
        <div id="language_content" class="my-2">
            {{ lexeme_sentence_list(lexemes, sentences, current_language) }}
        </div>
    </section>
</section>
{% endblock content %}