{% from 'partials/image_list.jinja' import image_list with context %}
{% extends "base.jinja" %}
{% block content %}
<section class="p-4">
    <header class="prose min-w-full text-center">
        <h1>{{ profile_user.username }}</h1>
        <div class="stats stats-vertical md:stats-horizontal shadow not-prose">
            <a href="#images" class="block border-none">
                <div class="stat">
                    <div class="stat-title">{{ _('Images') }}</div>
                    <div class="stat-value">{{ profile_user.uploaded_images.count() | intcomma }}</div>
                </div>
            </a>
            <a href="#sentences" class="block border-none">
                <div class="stat">
                    <div class="stat-title">{{ _('Sentences') }}</div>
                    <div class="stat-value">{{ profile_user.submitted_sentences.count() | intcomma }}</div>
                </div>
            </a>
            <a href="#audios" class="block border-none">
                <div class="stat">
                    <div class="stat-title">{{ _('Audios') }}</div>
                    <div class="stat-value">{{ profile_user.uploaded_audios.count() | intcomma }}</div>
                </div>
            </a>
        </div>
    </header>

    <section id="languages" class="my-8">
        <div id="sponsored_languages" class="my-4">
            {% if profile_user.sponsored_languages.count() > 0 %}
            <div class="grid grid-cols-1 md:grid-cols-2 align-top text-center">
                <p>
                    {% trans counter=profile_user.sponsored_languages.count(), name=profile_user.username %}
                    <strong>{{ name }}</strong> is sponsoring {{ counter }} language:
                    {% pluralize %}
                    <strong>{{ name }}</strong> is sponsoring {{ counter }} languages:
                    {% endtrans %}
                </p>
                <div class="join join-vertical text-center:""">
                    {% for language in profile_user.sponsored_languages.all()|sort(attribute='name') %}
                    <a href="{{ url('languages:detail', language.language_code) }}" class="flex justify-center gap-4">
                        <span>{{ language.native }}</span>
                        &ndash;
                        <span>{{ language.name }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <p>{% trans name=profile_user.username %}{{ name }} is not sponsoring any languages{% endtrans %}</p>
            {% endif %}
        </div>
        <div id="supported_languages" class="my-4">
            {% if profile_user.supported_languages.count() > 0 %}
            <div class="grid grid-cols-1 md:grid-cols-2 align-top text-center">
                <p>
                    {% trans counter=profile_user.supported_languages.count(), name=profile_user.username %}
                    <strong>{{ name }}</strong> is supporting {{ counter }} language:
                    {% pluralize %}
                    <strong>{{ name }}</strong> is supporting {{ counter }} languages:
                    {% endtrans %}
                </p>
                <div class="join join-vertical text-center:""">
                    {% for language in profile_user.supported_languages.all()|sort(attribute='name') %}
                    <a href="{{ url('languages:detail', language.language_code) }}" class="flex justify-center gap-4">
                        <span>{{ language.native }}</span>
                        &ndash;
                        <span>{{ language.name }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <p>{% trans name=profile_user.username %}{{ name }} is not supporting any languages{% endtrans %}</p>
            {% endif %}
        </div>
    </section>

    <section id="images" class="my-8">
        {{ image_list(profile_user.uploaded_images.all()) }}
    </section>
    <section id="sentences" class="my-8"></section>
    <section id="audios" class="my-8"></section>
</section>
{% endblock content %}