{% extends "base.jinja" %}
{% block content %}
<section class="p-4">
    <header class="prose min-w-full text-center">
        <h1>{{ language.native }}</h1>
        <h2>{{ language.name }}</h2>
        <div class="stats shadow">
            <div class="stat">
                <div class="stat-title">{{ _("Speakers") }}</div>
                <div class="stat-value">{{ language.speakers.count() | intcomma }}</div>
            </div>
            <div class="stat">
                <div class="stat-title">{{ _("Sentences") }}</div>
                <div class="stat-value">{{ language.sentences.count() | intcomma }}</div>
            </div>
        </div>
        <div class="stats shadow">
            {% if language.sponsor %}
            <div class="stat">
                <div class="stat-title">{{ _("Current sponsor") }}</div>
                <div class="stat-value text-primary">{{ language.sponsor.username }}</div>
            </div>
            {% endif %}
            <div class="stat">
                <div class="stat-title">{{ _("Supporters") }}</div>
                <div class="stat-value">{{ language.supporters.count() | intcomma }}</div>
            </div>
        </div>
    </header>
    <div class="py-2 prose min-w-full">
        {% if newest.lexemes and newest.lexemes|length %}
        <div class="text-center">
            <h2 class="text-center my-4">{{ _("Newest Lexemes") }}</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5">
                {% for lexeme in newest.lexemes %}
                <div class="text-center flex flex-col">
                    <a href="{{ url('languages:lexeme_detail',text=lexeme.text,code=language.language_code) }}"
                        class="flex flex-col w-full h-full min-h-24"
                    >
                        <span>{{ lexeme.text }}</span>
                        {% if lexeme.ipa %}
                        <span class="text-sm my-1">{{ lexeme.ipa }}</span>
                        {% endif %}
                        {% if lexeme.transliteration %}
                        <span class="text-sm my-1">{{ lexeme.transliteration }}</span>
                        {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="py-2 prose min-w-full">
        {% if newest.sentences and newest.sentences|length %}
        <div class="text-center">
            <h2 class="text-center my-4">{{ _("Newest Sentences") }}</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5">
                {% for sentences in newest.sentences %}
                <div class="text-center">
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}