{% extends "base.jinja" %}
{% block content %}
<section class="p-4">
    <p>
    {% trans counter=total_languages %}
    Pixeme currently supports <strong>{{ counter }}</strong> language.
    {% pluralize %}
    Pixeme currently supports <strong>{{ counter }}</strong> languages and dialects.
    {% endtrans %}
    </p>
    <div class="overflow-x-auto">
        <table class="table text-base">
            <thead>
                <tr>
                    <th>Language</th>
                    <th>Speakers</th>
                    <th>Lexemes</th>
                    <th>Sentences</th>
                </tr>
            </thead>
            <tbody>
                {% for lang in newest_languages %}
                <tr class="hover">
                    <td>
                        <a href="{{ url('languages:detail',code=lang.language_code) }}" class="block w-full">
                        <span>{{ lang.native }}</span>
                        <br>
                        <span class="text-sm">{{ lang.name }}</span>
                        </a>
                    </td>
                    <td>{{ lang.speakers.count() }}</td>
                    <td>{{ lang.lexemes.count() }}</td>
                    <td>{{ lang.sentences.count() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock content %}