{% extends "base.jinja" %}
{% block content %}
<section class="p-4">
    <header class="prose min-w-full text-center">
        <h1>{{ lexeme.text }}</h1>
        {% if lexeme.transliteration %}<h2 class="my-2">{{ lexeme.transliteration }}</h2>{% endif %}
        {% if lexeme.ipa %}<p class="my-1">/{{ lexeme.ipa }}/</p>{% endif %}
        <hr class="my-8 max-w-3xl mx-auto">
    </header>

    {% if lexeme.definitions %}
    <section class="prose min-w-full text-center">
        <ol class="text-start prose mx-auto">
            {% for definition in definitions.native  %}
            <li>
                <p class="my-0 ps-2 lg:ps-4">{{ definition.text }}</p>
                {% if definition.notes %}<p class="text-sm my-2 ps-2 lg:ps-4">{{ definition.notes }}</p>{% endif %}
            </li>
            {% endfor %}
        </ol>
        {% if definitions.other %}
        <p class="my-0 ps-2 lg:ps-4 text-start prose mx-auto">
            {% trans counter=definitions.other.count() %}{{ counter }} definition in another language{% pluralize %}{{ counter }} definitions in other languages{% endtrans %}
        </p>
        {% endif %}
        <hr class="my-8 max-w-3xl mx-auto">
    </section>
    {% endif %}

    <section>
        <div class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
            {% for image in images %}
            <div class="card card-compact w-96 bg-base-100 shadow-xl">
                <figure>
                    <a href="{{ url('images:image_page', hash_id=image.hash_id) }}">
                        <img src="{{ MEDIA_URL}}/{{ image.upload }}" width="320" alt="" class="max-w-[320px] rounded-t-md">
                    </a>
                </figure>
                <div class="card-body">
                    {% set sentences = image.sentences_of_language(lexeme.language.language_code) %}
                    <span class="text-lg text-center">
                        {% trans counter=sentences.count(), language_name=lexeme.language.native %}{{ counter }} sentence in {{ language_name }}
                        {% pluralize %}{{ counter }} sentences in {{ language_name }}
                        {% endtrans %}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</section>
{% endblock content %}
