{% load static %}
<footer class="border-t-2 border-neutral bg-neutral pt-2 text-center">
    <nav class="flex flex-wrap justify-center max-w-2xl mx-auto px-8 mb-4 md:mb-2 text-sm">
        <span class="link hover:text-primary px-4 lg:px-6 border-r border-opacity-50 border-neutral-content">
            <a href="{% url "index" %}">Home</a>
        </span>
        <span class="link hover:text-primary px-4 lg:px-6 border-r border-opacity-50 border-neutral-content">
            <a href="#">Terms of Service</a>
        </span>
        <span class="link hover:text-primary px-4 lg:px-6 border-r border-opacity-50 border-neutral-content">
            <a href="#">Privacy Policy</a>
        </span>
        <span class="link hover:text-primary px-4 lg:px-6">
            <a href="#">About</a>
        </span>
    </nav>
    <small>
        <p>© {% now "Y" %} The Pixeme Project. All rights reserved. User-generated content is the property of its creators.</p>
    </small>
    <div class="min-h-2">
        <!-- Social icons -->
    </div>
</footer>