{% load static %}
<nav class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <button type="button" class="btn btn-ghos">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" stroke="none" viewBox="0 0 24 24"><title>menu</title><path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></svg>
            </button>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href={% url "index" %}>Home</a></li>
                <li><a href="{% url "languages:index" %}">Languages</a></li>
            </ul>
        </div>
        <a href="{% url "index" %}">
            <img src="{% static "img/pixeme-logo.svg" %}" alt="Pixeme logo" class="h-8">
        </a>
    </div>
    <div class="navbar-end">
        {% if user.is_authenticated %}
        <div class="dropdown">
            <button type="button" class="btn btn-ghost font-normal">You are logged in as <strong>{{ user.username }}</strong></button>
            <ul class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box">
                <li><a href="#">Profile</a></li>
                <hr class="my-2 border-neutral">
                <li><a href="{% url "account_logout" %}"
                    hx-push-url="{% url "index" %}"
                    hx-post="{% url "account_logout" %}"
                    hx-target="body"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    >Sign Out</a></li>
            </ul>
        </div>
        {% else %}
        <a href="{% url "account_login" %}" class="px-2 md:px-4 btn btn-ghost">Sign In</a>
        <a href="{% url "account_signup" %}"
            class="px-2 md:px-4 btn btn-ghost">Sign Up</a>
        {% endif %}
    </div>
</nav>