{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Pixeme{% endblock title %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}

		<script src="{% static 'js/htmx.min.js' %}" defer></script>
		<script src="{% static "js/surreal.js" %}"></script>
		{% block scripts %}{% endblock scripts %}
	</head>

	<body class="flex flex-col min-h-[100vh]">
		<header class="flex-shrink">
		{% include "_navbar.html" %}
		</header>

		{% block header %}{% endblock header %}

		<main class="py-2 px-4 md:px-6 flex-grow">
			{% block content %}{% endblock content %}
		</main>

		{% block footer %}
			{% include "_footer.html" %}
		{% endblock footer %}
	</body>
</html>
