<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Pixeme{% endblock title %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{# {% tailwind_css %} #}
        <link rel="stylesheet" href="{% if tailwind.is_static_path %}{{ static(tailwind.css_path) }}{% else %}{{ tailwind.css_path }}{% endif %}{% if v %}?v={{ v }}{% endif %}">

		<script src="{{ static('js/htmx.min.js') }}" defer></script>
		<script src="{{ static('js/surreal.js') }}"></script>
		{% block scripts %}{% endblock scripts %}
	</head>

	<body class="flex flex-col min-h-[100vh]">
		<header class="flex-shrink">
		{% include "_navbar.jinja" %}
		</header>

		{% block header %}{% endblock header %}

		<main class="py-2 px-4 md:px-6 flex-grow">
			{% block content %}{% endblock content %}
		</main>

		{% block footer %}
			{% include "_footer.jinja" %}
		{% endblock footer %}
	</body>
</html>
