{% extends 'base.jinja' %}
{% from 'partials/image_list.jinja' import image_list with context %}
{% block content %}
<section class="p-4">
    {% if tagged_images %}
    <section id="tag_images" class="my-2 py-4 border-b border-neutral">
        <header class="text-center pb-8">
            <h1 class="text-2xl font-bold">{% trans %}Images tagged with {{ tag }}{% endtrans %}</h1>
        </header>
        <div>
            {{ image_list(tagged_images.all()) }}
        </div>
    </section>
    {% endif %}
    {% if tagged_lexemes %}
    <section id="tag_lexemes" class="my-2 py-2 border-b border-neutral">
        <header class="text-center">
            <h1 class="text-2xl font-bold">{% trans %}Lexemes tagged with {{ tag }}{% endtrans %}</h1>
        </header>
        {# TODO: Lexeme list #}
    </section>
    {% endif %}
    {% if tagged_sentences %}
    <section id="tag_sentences" class="my-2 py-2 border-b border-neutral">
        <header class="text-center">
            <h1 class="text-2xl font-bold">{% trans %}Sentences tagged with {{ tag }}{% endtrans %}</h1>
        </header>
        {# TODO: Sentence list #}
    </section>
    {% endif %}
    {% if tagged_audios %}
    <section id="tag_audios" class="my-2 py-2 border-b border-neutral">
        <header class="text-center">
            <h1 class="text-2xl font-bold">{% trans %}Audios tagged with {{ tag }}{% endtrans %}</h1>
        </header>
        {# TODO: Audio list #}
    </section>
    {% endif %}
</section>
{% endblock content %}